body{
    background-image: url(frieren-background.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.general-window{
    display: flex;
    justify-content: space-between;
}

/* Middle window*/
.main-window{
    display: flex;
    flex-direction: column;
}
.top-bar{
    width: clamp(400px, 600px, 500px);
    height: clamp(30px, 40px, 35px);
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0px 20px 0px 20px;
    
    border-style: solid;
    border-width: 2px;
    font-family: Arial;
    background-color: rgb(224, 243, 255);
}

.content{
    
    background-color: lightskyblue;
    height: auto;
    border-style: solid;
    border-top: none;
    border-width: 2px;
    padding: 30px 30px 0px 30px;
}

.content .profile-image{
    float: left;
    overflow:hidden;
    border-radius: 100%;
    align-items: center;
    height: 150px;
    width: 150px;
    margin-right: 50px;
}

.content .profile-image img{
    height: 150px;
    width: 150px;
}

.introduction{
    font-family: sans-serif;
    word-wrap: break-word;
    width: 470px;
    text-align:justify;
}

.buttons button{
    background: none;
}

/*Left window*/

.left-window{
    display: flex;
    flex-direction: column;
    margin-left: 300px;
}
.top-left-bar{
    width: clamp(100px, 150px, 120px);
    height: clamp(30px, 40px, 35px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding: 0px 20px 0px 20px;
    
    border-style: solid;
    border-width: 2px;
    font-family: Arial;
    background-color: rgb(224, 243, 255);
}
.left-menu{
    margin: 0px;
    background-color: lightskyblue;
    height: 400px;
    border-style: solid;
    border-top: none;
    border-width: 2px;

}
.left-menu li{
    margin: 0px 0px 20px 0px;
    list-style: none;
    font-family: sans-serif;
    color: black;
}

/* rIGHT WINODW */

.right-window{
    display: flex;
    flex-direction: column;
    margin-right: 300px;
}

.top-right-bar{
    width: clamp(100px, 150px, 120px);
    height: clamp(30px, 40px, 35px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding: 0px 20px 0px 20px;
    
    border-style: solid;
    border-width: 2px;
    font-family: Arial;
    background-color: rgb(224, 243, 255);
}

.right-menu{
    background-color: lightskyblue;
    height: 400px;
    border-style: solid;
    border-top: none;
    border-width: 2px;

}
